body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

.landing-section > img{
    height: 500px;
}

.landing-section {
    /*Anpassung für den Hintergrund*/
    height: 100vh;
    background-image: url("assets/img/landing.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*Anpassung für PC Overlay:*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
}

.headerLinks a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 24px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
}

.mailIcon {
    width: 44px;
    height: auto;
    padding: 8px;
    gap: 10px;
}

.computerpic{
    width: auto;
    height: auto;
    
}

.main {
    background-color: rgb(12,16,59);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.padding64 {
   padding: 64px;
}

.table {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 64px;
}

.table img {
    width: 530px;
    height: auto;
}

.usedSoftware{
    display: contents;
}

.usedSoftware p {
    padding-left: 56px;
    padding-bottom: 56px;
    padding-right: 56px;
    color: white;
    text-align: center;
}

.footer {
    background-color: rgb(12,16,59);
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 32px;
    align-items: center;
    padding-bottom: 8px;
    color: white;
    cursor: pointer;
   
}

.footerIconsLeft {
    align-items: center;
    display: flex;
}

.socialIcons{   
    padding:24px;
    
}

.footerIconsright{
    display: flex;
}

/*Mobile-Screen*/

@media (max-width: 660px) {

    .headerLinks img {
        width: 100px;
        height: auto;
    }

}

@media (max-width: 500px) {

    .mailIcon {
        width: 40px;
        height: auto;
    }

    .computerpic{
    width: auto;
    height: auto;
    }
    
    .table img {
        width: 400px;
        height: auto;
    }

    .lerningPath img {
        height: 40px;
        width: auto;
    }

    .laptopimg {
        width: 400px;
        height: auto;
    }

    .usedSoftware img {
        height: 25px;
        width: auto;
    }
}

@media (max-width: 400px) {

    .headerLinks img {
        width: 75px;
        height: auto;
    }

    .mailIcon {
        width: 30px;
        height: auto;
    }

    .computerpic{
        width: auto;
        height: auto;
    }

    
    .table img {
        width: 350px;
        height: auto;
    }

    .mainHeadline img {
        width: 300px;
        height: auto;
    }

    .lerningPath img {
        height: 30px;
        width: auto;
    }

    .laptopimg {
        width: 300px;
        height: auto;
    }

    .usedSoftware img {
        height: 20px;
        width: auto;
    }
}